body{
    margin: 0px;
    padding: 0px;
}

#pad {
    width: 322px;
    height: 494px;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    padding: 8px;
    border: 1px solid black;
    border-radius: 16px;
}

#calculator{
    height: 256px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
}

button{
    background-color: whitesmoke;
    font-size: 32px;
    height: 64px;
    width: 64px;
    margin: 8px;
    border: 1px solid rosybrown;
    box-shadow: 2px 2px black;
}

.clear {
    width: 144px;
}

button:active{
    transform: scale(0.98);
    box-shadow: 2px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#display {
    height: 74px;
    margin: 8px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 32px;
    text-align: end;
    overflow-wrap: break-word;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#upper {
    font-size: 16px;
}

/* #bottom {
    display: flex;
    justify-content: space-between;
} */